{{!-- {   
    storyPart: "middle",
    place: "France",
    travelVehicle: "train",
    yearsToStay: 2
} --}}

{{!-- <h1>{{storyPart}}</h1>



{{!-- Link to End --}}

<h1>The {{details.storyPart}}:</h1>
<p>One day, Rupert decided to visit {{details.place}}. So, he hopped on a {{details.travelVehicle}} to get there. Once he got there, he decided to stay for at least {{details.yearsToStay}} years.</p>
<a href="/end">Next</a>